/*
MY COLOR PALETTE
Color 1 - #F9F8F8
Color 2 - #CDD3CE
Color 3 - #BBB5BD
Color 4 - #011627
Color 5 - #36413E
*/
h1 {
    color: #011627;
  
}

h2 {
    color: #011627;
}

button:hover {
    background-color: #CDD3CE;

}

button {
        color: #011627;
        width: 300px;
    padding-top: 25x
        padding-left: 50x
        padding-bottom: 75x
        padding-right: 50x
    
}
body {
    background-color: #bbb5bd;
{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


 